<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AUY.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MToGifAndUpload Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MToGifAndUpload.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ex.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ptherEx.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5826E30239E8B6D00ED64ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEC1566023AB382B000D31A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8A420239A458D00C2CC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8A433239A458F00C2CC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8A462239E0CF800C2CC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8A48B239E15A200C2CC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8A4FC239E230400C2CC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
